@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@700&display=swap');

* {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
}

body {
  background: #242426;
}

p {
  font-family: 'Fira Code', monospace;
  color: #F23838;
}

select {
  font-family: 'Fira Code', monospace;
}
